.plot, .section {
	width: 100%;
}

main {
	height: 100vh;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.sidebar {
	background-color: #212529;
	overflow-y: scroll;
	width: 325px; 
}

.sidebar hr {
	background-color: #eee;
}

.scrollable {
	overflow-y: auto;
	width: auto;
}

.btn-group label {
	background-color: #ffffff;
}

.hidden {
	display: none;
}

select:disabled, .toolbar.disabled {
	opacity: 0.2 !important;
	pointer-events: none;
}

.dragplane {
	cursor: grab;
}

.card, .list-group-item {
	background-color: transparent !important;
	border-color: #54575A !important;
}

.card-header {
	background-color: rgba(255, 255, 255, 0.3) !important;
	text-align: center;
}

.wrapper {
	position: relative;
}

.wrapper i {
	position: absolute;
	left: 0;
}

.card-header.secondary {
	background-color: rgba(255, 255, 255, 0.5) !important;
	text-align: left;
}

.tally {
	display: flex;

	align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
}

.tipdot {
	width: 1em;
	height: 1em;

	vertical-align: middle;

	display: inline-block;

	border-radius: 50%;

	border: 1px solid grey;
}

.toolbar {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

a.dropdown-item {
	cursor: pointer;
}

.label {
	pointer-events: none;
}

circle.selected {
	fill-opacity: 1 !important;
}

.heatmap-point {
	pointer-events: none;
}